---
import { getCanonicalUrl } from "~/utils/get-canonical-url";
import { getImageUrl } from "~/utils/get-image-url";

interface Props {
  title: string;
  description?: string;
  ogImageUrl?: string;
}

const {
  title,
  description = "I'm a software engineer mostly with NodeJS 💚 I love to write clean beautiful code even when it's unnecessary.",
  ogImageUrl = getImageUrl("social/og-image", { format: "jpg" }),
} = Astro.props;

const canonicalUrl = getCanonicalUrl(Astro.url);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={description} />
<meta
  name="keywords"
  content="software engineer, nodejs, javascript, typescript, ricardo quiroz, pedidosya, riqra"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@rqbazan" />
<meta name="twitter:creator" content="@rqbazan" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImageUrl} />

<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={Astro.url} />
<meta name="og:type" content="website" />
<meta name="og:site_name" content="Ricardo Q. Bazan" />
<meta name="og:locale" content="en" />
<meta name="og:image" content={ogImageUrl} />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalUrl} />
<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="icon" href="/favicon.ico" />

<meta name="apple-mobile-web-app-title" content="rcrd">
<link rel="manifest" href="/site.webmanifest">
