---
import kebabCase from "just-kebab-case";
import AnchorIcon from "~/ui/components/anchor-icon.astro";
import TechTag from "~/ui/components/tech-tag.astro";
import { NewTag } from "./new-tag";

interface Props {
  projectName: string;
  postedAt?: string;
  techs: string[];
  class?: string;
  links?: Array<{
    href: string;
    // biome-ignore lint/suspicious/noExplicitAny: <explanation>
    icon: any;
    [key: string]: unknown;
  }>;
}

const { projectName, postedAt, techs, links, class: className } = Astro.props;

const htmlId = kebabCase(projectName.toLowerCase());
---

<div class={className} id={htmlId}>
  <div class="flex flex-col">
    <a href={`#${htmlId}`}>
      <div class="flex items-center cursor-pointer self-start">
        <h5 class="h5">{projectName}</h5>
        <NewTag postedAt={postedAt} client:load />
      </div>
    </a>
    <p class="p mt-4">
      <slot />
    </p>
  </div>
  <div class="flex mt-4">
    <div class="flex mr-1 flex-wrap -m-1">
      {
        Array.from(techs)
          .sort()
          .map((tech) => <TechTag text={tech} class="m-1" />)
      }
    </div>
    {
      Number(links?.length) > 0 ? (
        <div class="flex space-x-3 ml-auto items-start">
          {links?.map((link) => {
            // omit icon from otherProps
            const { icon, ...otherProps } = link;

            return (
              <AnchorIcon {...otherProps}>
                <link.icon customClasses="h-5 w-5" />
              </AnchorIcon>
            );
          })}
        </div>
      ) : null
    }
  </div>
</div>
